body{
  background-color: darkcyan;
}

.side {
    height: 100%; 
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 15px;
  }
  

  .side a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    
  }


  
  .logo a{
    padding-left: 15px;
    padding-bottom: 20px;
    font-size: 50px;
    color: #901176;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
  }
  
  
 
  .side a:hover {
    color: #901176;
  
  }
  
 
  .main {
    margin-left: 250px; 
    padding: 0px 10px;
  }

  .main p{
    color: #f1f1f1;
    font-size: large;
  }

  .bt1{
    margin-bottom: 10px;
    background-color: #901176;
    color: white;
    border: #901176;
    border-radius: 10px;
    height: 30px;
    
  }

  .bt1:hover{
    margin-bottom: 10px;
    background-color: #a0418d;
    color: white;
    border: #a0418d;
  }
  .gr{
    margin: auto;
  }

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }